Flask
pyTelegramBotAPI
requests
python-dotenv
aiogram
beautifulsoup4
feedparser
pypdf
pymupdf
Pillow
yt-dlp
gTTS
wikipedia
edge-tts
google-generativeai
langchain
langchain-google-genai
faiss-cpu
phonenumbers
dnspython
python-whois
paramiko
scapy
httpcore
httpx
deep-translator
googletrans
